__pycache__/*
.vscode/*
maximo_credentials*.json
debug.log
*.log
build
build_spec
src/__pycache__/*
src/changes.txt
dist/changes.txt
src/updateutils/__pycache__/updateUtils.cpython-38.pyc

*.spec


# From https://pipenv-fork.readthedocs.io/en/latest/basics.html
# Generally, keep both Pipfile and Pipfile.lock in version control.
# Do not keep Pipfile.lock in version control if multiple versions of Python are being targeted.
Pipfile.lock