[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
maximo-gui-connector = {editable = true, path = "./../maximo-gui-connector"}
requests = "*"
coloredlogs = "*"
pyyaml = "*"
packaging = "*"
deprecated = "*"
rich = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3"
